
body {
	margin: 0;
	padding: 0;
}

br {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

#grid {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 2px solid black;
	width: 960px;
	height: 640px;
	font-size: 0;
}

.grid__box {
	display: inline-block;
	/* border: 1px solid black; */
	margin: 0;
	padding: 0;
	-webkit-box-shadow: inset 0px 0px 0px 1px #000;
	-moz-box-shadow: inset 0px 0px 0px 1px #000;
	box-shadow: inset 0px 0px 0px 1px #000;

}


#panel {
	float: right;
	display: inline-block;
	width: 400px;
	height: 640px;
	border: 2px solid black;
	padding: 8px;
}

.panel__group {
	padding-bottom: 16px;
}

