
body {
	margin: 0;
	padding: 0;
}

br {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

#grid_wrapper {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 960px;
	height: 640px;
	font-size: 0;
	-webkit-box-shadow: inset 0px 0px 0px 2px #000;
	-moz-box-shadow: inset 0px 0px 0px 2px #000;
	box-shadow: inset 0px 0px 0px 2px #000;
}

#grid {
}

.grid__box {
	display: inline-block;
	/* border: 1px solid black; */
	margin: 0;
	padding: 0;
	-webkit-box-shadow: inset 0px 0px 0px 2px #000;
	-moz-box-shadow: inset 0px 0px 0px 2px #000;
	box-shadow: inset 0px 0px 0px 2px #000;
}

#grid__block__highlight {
	position: absolute;
	/* background-color: #cccccc; */
	opacity: 0.75;
}

.block {
	position: absolute;
	/* background-color: #999999; */
}


#panel {
	float: right;
	display: inline-block;
	width: 400px;
	/* height: 640px; */
	border: 2px solid black;
	padding: 8px;
}

.panel__group {
	padding-bottom: 16px;
}

#panel__block_selector__select {
	background-color: #ffffff;
	font-weight: bold;
}

.panel__block_selector__select__option {
	font-weight: bold;
}


/* Textarea with calculated level-data json */
#level_data {
	display: block;
	width: 100%;
}

