
body {
	margin: 0;
	padding: 0;
}

br {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}


/* Grid */
#grid_wrapper {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0;
	-webkit-box-shadow: inset 0px 0px 0px 2px #000;
	-moz-box-shadow: inset 0px 0px 0px 2px #000;
	box-shadow: inset 0px 0px 0px 2px #000;
}

#grid {
	/*
	width: 960px;
	height: 640px;
	*/
}

.grid__box {
	display: inline-block;
	/* border: 1px solid black; */
	margin: 0;
	padding: 0;
	-webkit-box-shadow: inset 0px 0px 0px 2px #000;
	-moz-box-shadow: inset 0px 0px 0px 2px #000;
	box-shadow: inset 0px 0px 0px 2px #000;
}

#grid__block__highlight {
	position: absolute;
	opacity: 0.75;
}

.block {
	position: absolute;
}


/* Panel */
#panel {
	position: fixed;
	display: inline-block;
	right: 0;
	top: 0;
	background-color: #eeeeee;
	border: 2px solid black;
	padding: 8px;
	overflow-y: scroll;
}

#panel__settings {
	display: block;
	width: 360px;
	/* height: 640px; */
}

.panel__group {
	padding-bottom: 16px;
}

#panel__block_selector__select {
	background-color: #ffffff;
	font-weight: bold;
}

.panel__block_selector__select__option {
	font-weight: bold;
}

#panel__toggle_panel {
	position: relative;
	padding: 0;
	margin: 0;
	float: right;
	width: 32px;
	height: 32px;
	border: 1px solid #203db0;
	border-radius: 8px;
	font-weight: bold;
	font-size: 16px;
	color: #203db0;
	background-color: #cccccc;
}


/* Textarea with calculated level-data json */
#level_data {
	display: block;
	width: 100%;
}

